/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap'); */

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(185, 184, 184);
    
    /* font-family: 'Baloo Bhai 2', cursive; */
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 52px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;

}

.infoContainer {
    /* background-color: rgb(20, 80, 212); */
    height: 50vh;
    width: 80vw;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 40px;
}

.name {
    font-size: 35px;
    font-weight: bold;
}

.about {
    font-size: 25px;
}

.moreabout{
    font-size: 20px;
    margin-top: 23px;
}

.buttons{
    margin-top: 34px;
}

.btn {
    padding: 9px;
    border-radius: 17px;
    color: white;
    background-color: #4cb9d7;
    font-weight: bold;
    margin: 0px 5px;
    cursor: pointer;
    
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn:hover {
    background-color: white;
    color: #4cb9d7;
}
.devPic img {
    height: 50vh;
}

.contactform{
    padding: 0 34px;
    padding-top: 120px;
}

.contactform h1{
    /* text-align: center; */
    padding: 12px 0;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

/* h1{
    margin: 23px;
} */

p{

}

.intro h2{
    margin: 0 12px;
}

.intro p{
    margin: 0 12px;
}

.skillcontainer{
    padding: 15px;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.skillItem{
    display: flex;
    align-items: center;
    
}

.hundred{
    width: 265px;
    background-color: blanchedalmond;
}

.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}

.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
} 

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 145px;
}
 @media (max-width: 1400px) { 
    *{

        /* background-color: rgb(189, 111, 111); */
    
    }
    /* .sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    }  */
 }